@page "/DeckPage/{DeckId:int}"
@inject IDecksService DecksService
@if (_deck is not null)
{
    <div class="deckview-container">
    <p>Deck Name: <span class="deckname">@_deck.Name</span></p>
    <p># of cards in <span class="deckname">@_deck.Name</span>: <span class="numberofcards">@_deck.NumberOfCards</span>
    </p>

    <StudyDeck Deck="@_deck" UpdateUi="UpdateUi"/>

    <hr width="100%">
    <AddCard Deck="@_deck" OnCardAdded="UpdateUi"/>
    </div>
    <button @onclick="Save">Save dat shit</button>
    <p>@_saveMessage</p>
}
@code {
    [Parameter] public int DeckId { get; set; }
    private DeckDto _deck { get; set; }
    private string _saveMessage = "derp";
    public void UpdateUi()
    {
        StateHasChanged();
    }
    private async Task Save()
    {
        _saveMessage = await DecksService.UpdateDeckAsync(_deck);
    }
    protected override async Task OnInitializedAsync()
    {
        _deck = await DecksService.GetDeckByIdAsync(DeckId);
    }
}
